/* ----------------------------------------
   CSS Reset
   ---------------------------------------- */
/*
  Artevelde hogeschool CSS Reset v0.2
  Adapted version from Josh's Custom CSS Reset https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

* {
    margin: 0;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

@font-face {
    font-family: "Teko";
    src: url("/typography/Teko/Teko-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: "Inter";
    src: url("/typography/Inter/Inter-VariableFont_opsz,wght.ttf") format("truetype");
}

:root {
    --red: #B1121A;
    --yellow: #E6B00F;
    --green: #2F7A5F;
    --black: #121212;
    --white: #BFC4C9;
    --gray: #acb3b9;

    --ff-primary: 'Teko';
    --ff-secondary: 'Inter';

    --fs-big-title: clamp(3.5rem, 10vw, 5rem);
    --fs-title: clamp(2rem, 6vw, 3rem);
    --fs-label: clamp(1.25rem, 4vw, 1.5rem);
    --fs-text: clamp(1rem, 2.5vw, 1.125rem);
    --fs-small: clamp(0.875rem, 2vw, 1rem);

    --lh-big-title: 1.1;
    --lh-title: 1.2;
    --lh-label: 1.3;
    --lh-text: 1.5;
    --lh-small: 1.4;

    --fw-heading: 600;
    --fw-body: 400;

    --ls-heading: 0.05em;
    --ls-body: 0;

    --brad-sm: 0.25rem;
    --brad-md: 0.5rem;
    --brad-lg: 1rem;

    --space-xs: 0.5rem;
    --space-sm: 1rem;
    --space-md: 1.5rem;
    --space-lg: 2rem;
    --space-xl: 3rem;
}

body {
    color: var(--white);
    font-size: var(--fs-text);
    font-family: var(--ff-secondary);

    padding: 0 var(--space-md) 0 var(--space-md);

    min-height: 100vh;
    overflow: hidden;

    background-color: var(--black);
}

#root {
    height: 100vh;
    height: 100dvh;
    width: 100%;

    display: grid;
    grid-template-rows: auto 1fr auto;

    overflow: hidden;
}

.main {
    height: 100%;
}