:root {
    --red: #B1121A;
    --black: #121212;
    --white: #BFC4C9;

    --fs-title: clamp(1.5rem, 5vw, 2rem);
    --fs-text: clamp(1rem, 3vw, 1.5rem);
    --fs-small: clamp(0.5rem, 1vw, 1rem);

    --brad-sm: 0.5rem;
    --brad-md: 1rem;
    --brad-lg: 1.5rem;
}